/*
* RadControls for Metro HTML BETA (http://telerik.com)
* Copyright 2012 Telerik AD. All rights reserved.
*/
.k-autocomplete .k-input{color:rgba(0,0,0,0.6);background-color:#fff;border-color:rgba(0,0,0,0.27)}
.k-autocomplete.k-state-hover .k-input{color:rgba(0,0,0,0.6);background-color:rgba(255,255,255,0.87);border-color:rgba(0,0,0,0.44)}
.k-autocomplete.k-state-focused .k-input{color:rgba(0,0,0,1);border-color:rgba(0,0,0,0.64)}
.k-input.t-typed-text,.k-autocomplete.k-state-hover .k-input.t-typed-text{color:#000}
.k-autocomplete.k-state-disabled .k-input{color:rgba(33,33,33,0.6);background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15)}
.k-animation-container{padding-top:0;margin-top:0}
.k-list-container{border-color:rgba(33,33,33,1)}
.k-list{background-color:#fff}
.k-list .k-item{font-weight:400;color:#000;border-color:rgba(33,33,33,1)}
.k-list .k-item.k-state-hover,.k-list .k-item.k-state-focused{background-color:#006ac1;color:#fff;border-color:rgba(33,33,33,1)}
.k-autocomplete .k-input.t-clear-hover::-ms-clear{background-color:rgba(205,205,205,.77)}
.k-autocomplete .k-input.t-clear-click::-ms-clear{background-color:rgba(0,0,0,1);color:rgba(255,255,255,1)}
.k-combobox .k-dropdown-wrap{border-color:rgba(0,0,0,0.27)}
.k-dropdown-wrap.k-state-hover{background-color:rgba(255,255,255,0.87);border-color:rgba(0,0,0,0.44)}
.k-dropdown-wrap.k-state-focused,.k-dropdown-wrap.k-state-active{background-color:rgba(255,255,255,0.8);border-color:rgba(0,0,0,0.64)}
.k-dropdown-wrap.k-state-disabled{background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15)}
.k-dropdown-wrap .k-input:-ms-input-placeholder,.k-dropdown-wrap.k-state-hover .k-input:-ms-input-placeholder{color:rgba(0,0,0,0.6)}
.k-combobox .k-dropdown-wrap.k-state-disabled .k-input{color:rgba(33,33,33,0.4);background-color:transparent}
.k-animation-container{padding-top:0}
.k-list .k-item.k-state-hover,.k-list .k-item.k-state-focused{color:#fff;background-color:#006AC1;border-color:#212121}
.k-combobox .k-input.t-clear-hover::-ms-clear{color:#000;background-color:rgba(0,0,0,.13)}
.k-combobox .k-input.t-clear-click::-ms-clear{color:#fff;background-color:#000}
.t-frame{border-color:#fff}
.t-date-picker,.t-time-picker{color:rgba(255,255,255,0.6)}
.t-date-picker .t-picker,.t-time-picker .t-picker{color:#000;background-color:rgba(255,255,255,0.80);border-color:rgba(0,0,0,0.27)}
.t-date-picker .t-picker:hover,.t-time-picker .t-picker:hover{background-color:rgba(255,255,255,0.80);border-color:rgba(0,0,0,0.44)}
.t-date-picker .t-picker.t-press,.t-time-picker .t-picker.t-press{background-color:#D3D3D3;border-color:rgba(0,0,0,0.44)}
.t-date-picker .t-press .t-arrow,.t-time-picker .t-press .t-arrow{background-color:#fff}
.t-date-picker.t-disabled .t-picker,.t-time-picker.t-disabled .t-picker{color:rgba(0,0,0,0.4);background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.4)}
.t-date-picker.t-empty .t-input,.t-time-picker.t-empty .t-input{color:#666}
.t-date-picker.t-disabled.t-empty .t-input,.t-time-picker.t-disabled.t-empty .t-input{color:rgba(0,0,0,0.12)}
.t-date-selector,.t-time-selector{background-color:#fff;border-color:rgba(0,0,0,0.44)}
.t-date-selector .t-header,.t-time-selector .t-header{color:#000}
.t-date-selector .t-ok,.t-time-selector .t-ok{color:#fff;background-color:#006AC1;border-color:#006AC1}
.t-date-selector .t-cancel,.t-time-selector .t-cancel{color:#212121;background-color:rgba(182,182,182,0.7);border-color:rgba(182,182,182,0.7)}
.t-date-selector .t-template .t-label,.t-time-selector .t-template .t-label{color:rgba(33,33,33,0.6)}
.t-date-selector .t-selected .t-template .t-label,.t-time-selector .t-selected .t-template .t-label{color:rgba(255,255,255,0.6)}
.k-dropdown-wrap{border-color:rgba(0,0,0,0.27)}
.k-dropdown-wrap.k-state-hover{background-color:rgba(255,255,255,0.87);border-color:rgba(0,0,0,0.44)}
.k-dropdown-wrap.k-state-active{border-color:#212121}
.k-dropdown-wrap.k-state-disabled{color:rgba(33,33,33,0.4);background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15)}
.k-dropdown .k-input{color:rgba(0,0,0,0.6)}
.k-dropdown-wrap.k-state-active .k-input{color:#000}
.k-animation-container{padding-top:0}
.k-list .k-item{color:#000;background-color:#fff;border-color:#212121}
.k-list .k-item.k-state-hover,.k-list .k-item.k-state-focused{color:#fff;background-color:#006AC1;border-color:#212121}
.t-looping-list-item{background-color:rgba(182,182,182,0.7);color:#212121}
.t-looping-list-item.t-selected{background-color:#006ac1;color:white}
.k-numerictextbox .k-numeric-wrap.k-state-default .k-input{border-color:rgba(0,0,0,0.27)}
.k-numerictextbox .k-numeric-wrap.k-state-hover .k-input{border-color:rgba(0,0,0,0.44)}
.k-numerictextbox .k-numeric-wrap.k-state-focused .k-input{border-color:rgba(0,0,0,0.64)}
.k-numerictextbox .k-numeric-wrap.k-state-disabled .k-input{background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15)}
.k-numerictextbox .k-numeric-wrap.k-state-disabled .k-link{background-color:rgba(202,202,202,0.4)}
.k-numerictextbox .k-input:-ms-input-placeholder{color:#666}
.k-numerictextbox .k-numeric-wrap.k-state-disabled .k-input:-ms-input-placeholder{color:#b7b7b7}
.k-numerictextbox .k-numeric-wrap.k-state-focused .k-link.k-state-selected{background-color:#000;border-color:#000;color:#fff}
.k-numerictextbox .k-state-disabled .k-link{background-color:rgba(202,202,202,0.4);border-color:rgba(0,0,0,0.15);color:#000}
.k-slider-track{background-color:rgba(0,0,0,0.19)}
.k-state-disabled .k-slider-track,.k-slider:hover.k-state-disabled .k-slider-track{background-color:rgba(0,0,0,0.10)}
.k-slider:hover .k-slider-track{background-color:rgba(0,0,0,0.15)}
.k-slider-selection{background-color:#006AC1}
.k-state-disabled .k-slider-selection,.k-slider:hover.k-state-disabled .k-slider-selection{background-color:rgba(0,0,0,0.24)}
.k-slider:hover .k-slider-selection{background-color:#006AC1}
.k-draghandle,.k-draghandle.k-state-selected,.k-draghandle.k-state-selected:hover{background-color:black;border-color:black}
.k-state-disabled .k-draghandle,.k-slider:hover.k-state-disabled .k-draghandle{background-color:rgba(143,143,143,1);border-color:rgba(143,143,143,1)}
.k-slider .k-label{color:black}
.k-slider .k-button{border-color:rgba(137,136,136,1);background-color:rgba(137,136,136,1)}
.k-slider-horizontal .k-tick{background-image:url(data:image/gif;base64,R0lGODlhAQDIAKEBAMbGxv///////////yH5BAEKAAIALAAAAAABAMgAAAIXlI+Zwe2holSg2intzbp3HHliBZbmGRUAOw==)}
.k-slider-vertical .k-tick{background-image:url(data:image/gif;base64,R0lGODlh3AABAKEBAMbGxv///////////yH5BAEKAAIALAAAAADcAAEAAAIZlI+pe+EPA5s0gYurwln7zYXhd4jmRaZLAQA7)}
.k-tooltip{background-color:white;border-color:gray;color:black}